.container {
  height: 100%;
}
body {
  background-image: url('/static/img/grunge.png');
  height: 100%;
}
.home {
  width: 100%;
  height: 100%;
}
.home .sig {
  display: block;
  font-size: 60px;
  width: 400px;
  margin: 0 auto;
  clear: right;
}
.home .date {
  display: block;
  font-size: 25px;
  font-style: italic;
  width: 160px;
  margin: 0 auto;
  clear: right;
  margin-top: 50px;
}
.home #scroll-down {
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 70px;
  background-color: rgba(224, 224, 224, 0.29);
}
.home #scroll-down .next {
  position: absolute;
  left: 49%;
  margin-top: 13px;
}
#gallery {
  margin-top: 15px;
}
#gallery .img-box {
  display: inline-block;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 15px;
  width: 205px;
  height: 205px;
}
#gallery .img-box .landscape {
  height: 100%;
  margin-left: -50px;
}
#gallery .img-box .portrait {
  width: 100%;
  margin-top: -20px;
}
